.form-container {
  height: 80vh;
  display: flex;
  align-items: center;
}

.form-title {
  color: var(--text);
  position: relative;
  margin-bottom: 2.5rem;
}

.form-title::before {
  left: 0;
  width: 80px;
  height: 4px;
  content: "";
  bottom: -10px;
  background: var(--text);
  position: absolute;
}

.form-card {
  margin-top: 1.5rem;
  box-sizing: border-box;
  width: 90%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 0.5rem;
  padding: 1rem;

  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.form-group {
  margin-bottom: 1rem;
}

.form-group input {
  border: none;
  outline: none;
  padding: 0.625rem 1.25rem;
  width: 100%;
  box-sizing: border-box;
  color: var(--text);
  border-radius: 2.1875rem;
  background: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.btn-generate-new-card {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.625rem 1.25rem;
  border-radius: 2.1875rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.06);
  color: var(--text);
  backdrop-filter: blur(20px);
}

@media screen and (min-width: 550px) {
  .form-card {
    width: 60%;
  }
}

@media screen and (min-width: 768px) {
  .form-card {
    width: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .form-card {
    width: 25%;
  }
}
